*{
    padding: 0;
    margin: 0;
}

body {
    font-family: "Spectral", serif;
}

.nav-link:hover {
    color: #f80d0d;
}
 
.offcanvas-end {
    width: auto;
}

.navbar-index {
    background-color: #3f41417a;
   
}

.nav-link {
   color: rgb(51, 102, 196); 
    
}

.paginas {
    height: 50px;
}
