%section{
    padding: 40px 0;
}

%nvl{
    padding-left: 12px;
    padding-right: 12px;
    @media (min-width: 992px){
        .nvl{
            flex: 0 0 auto;
            width: 33.33333333%;
        }
    }
    @media (min-width: 576px){
        .nvl{
            flex: 0 0 auto;
            width: 33.33333333%;
        }
    }
}

%img{
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;        
}

%btnAll{
    animation: shakeX 25s ease;
    display: $d-b;
    width: 200px;
    height: 45px;
    padding: 7px;
    margin: 10px auto;
    font-size: $p-fs;
    font-weight: $f-w;
    text-align: $cr;
    border: none;
    color: $clr-3;
    background-color: $clr-4;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    background-image: linear-gradient(to bottom, $clr-4, $clr-1);
    background-image: -webkit-linear-gradient(top, $clr-4, $clr-1);
    background-image: -moz-linear-gradient(top, $clr-4, $clr-1);
    background-image: -ms-linear-gradient(top, $clr-4, $clr-1);
    background-image: -o-linear-gradient(top, $clr-4, $clr-1);
    &:hover {
        display: $d-b;
        width: 225px;
        height: 45px;
        padding: 7px;
        margin: 10px auto;
        font-size: $p-fs;
        font-weight: $f-w;
        text-align: $cr;
        border: none;
        color: $clr-3;
        background-color: $clr-1;
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        background-image: linear-gradient(to bottom, $clr-1, $clr-4);
        background-image: -webkit-linear-gradient(top, $clr-1, $clr-4);
        background-image: -moz-linear-gradient(top, $clr-1, $clr-4);
        background-image: -ms-linear-gradient(top, $clr-1, $clr-4);
        background-image: -o-linear-gradient(top, $clr-1, $clr-4);
        
    }
}

%subText{
    font-size: 18px;
    margin-bottom:0;
}

%fTittle{
    text-decoration: none;
    padding-top: 1.5rem;
    display: flex;
    color: $clr-1;
}

%fTitulo{
    padding-left: 0.5rem;
    font-weight: $f-w;
}

%footer{
    background-color: $clr-1;
    height: 75px;
    padding: 20px 0;
}

%fContent{
    align-self: $cr;
    text-align: $cr;
    padding-top: 0.5rem;
}

%fCopyright{
    justify-content: $cr;
    padding-top: 20;
    color: $clr-3;
    text-align: $cr;
}

%colegioVS{
    color: $clr-3;
    text-decoration: none; 
}

%icons{
    justify-content: $cr;
    display: flex;
}

%icon{
    color: $clr-3;
    padding: 0 20px;
}