$f-w: bold; 
$w: 100%;
$h: 100%;
$f-f: 'Open Sans', sans-serif;
$p-fs: 19px;
$d-b: block;
$cr: center;
$mb-img1: 1.5rem;
$ht:420px;
// breakpoints:
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
