header{
    height: $h;
    nav.navbar{
        padding: 0;
        a.navbar-brand{
            display: flex;
            padding-top: 0.25rem;
            img.logo{
                border-radius: 50%;
            }
            .titulo{
                padding-left: map-get($titulo, p-l);
                padding-top:  map-get($titulo, p-t); 
                padding-bottom:  map-get($titulo, p-b);
                margin-bottom:  map-get($titulo, m-b);
                color:  map-get($titulo, clr);
                &:hover {
                    color: $clr-5;
                }
            }
        }
        button.navbar-toggler{
            background-color: $clr-3;
        }
        div.offcanvas{
            width: auto;
            ul.listaDesosrdenada{
                font-weight: $f-w;
                justify-content: end;
                a.nav-link{
                    color: $clr-1;
                    &:hover{ 
                        color: $clr-2;
                    }
                }
            }
        }
    }
    #inicio{
        width: $w;
        height: 80vh;
        background: url("../img/1c.jpg") top center;
        background-size: cover;
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        &::before{
            background: rgba(0, 0, 0, 0.26);
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
        }
        div.animacionAos{
            position: relative;
            color: $clr-3;
            @media (max-width: 768px) {
                [data-aos-delay] {
                    transition-delay: 0 !important;
                }
            }
            h1.animacinH1{
                margin: 0;
                font-weight: 500;
                text-align: center;
            }
        }
    }
}