header{
    height: $h;
    nav.navbar{
        padding: 0;
        div.container-fluid{
            a.navbar-brand{
                display: flex;
                padding-top: 0.25rem;
                img.logo{
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                }
                h1.titulo{
                    padding-left: map-get($titulo, p-l)!important;
                    padding-bottom:  map-get($titulo, p-b)!important;
                    margin-bottom:  map-get($titulo,  m-b)!important;
                    color:  map-get($titulo, clr)!important;
                    padding-top:  map-get($titulo, p-t)!important; 
                    &:hover {
                        color: $clr-4!important;
                    }
                }
            }
            button.navbar-toggler{
                background-color: $clr-3;
            }
            div.offcanvas{
                width: auto;
                ul.listaDesosrdenada{
                    font-weight: $f-w;
                    justify-content: end;
                    a.nav-link{
                        color: $clr-1;
                        &:hover{ 
                            color: $clr-2;
                        }
                    }
                }
            }
        }
    }
    div.portada{
        padding: 0.25rem;
        text-align: $cr;
        background-color: $clr-1;
        h3.subtitulo{
            color: map-get($stitulo, clr);
            font-size: map-get($stitulo, f-s);
            font-weight: map-get($stitulo, f-);
            margin-bottom: map-get($stitulo, m-b);
            @media (max-width: 768px) {
                .subtitulo {
                font-size: 24px;
                margin-bottom: 0;
                }
            }
        }
        p.subTex{
            font-size: 18px;
            margin-bottom:0;
            color: $clr-3;
        }
    }
}