header{
    height: $h;
    nav.navbar{
        padding: 0;
        a.navbar-brand{
            display: flex;
            padding-top: 0.25rem;
            img.logo{
                border-radius: 50%;
            }
            .titulo{
                padding-left: map-get($map: $titulo, $key: p-l);
                padding-bottom:  map-get($map: $titulo, $key: p-b);
                margin-bottom:  map-get($map: $titulo, $key: m-b);
                color:  map-get($map: $titulo, $key: clr);
                padding-top:  map-get($map: $titulo, $key: p-t); 
                &:hover {
                    color: $clr-5;
                }
            }
        }
        button.navbar-toggler{
            background-color: $clr-3;
        }
        div.offcanvas{
            width: auto;
            ul.listaDesosrdenada{
                font-weight: $f-w;
                justify-content: end;
                a.nav-link{
                    color: $clr-1;
                    &:hover{ 
                        color: $clr-2;
                    }
                }
            }
        }
    }
    div.portada{
        padding: 0.25rem;
        h3.subtitulo{
            text-align: map-get($map: $stitulo, $key: t-a);
            background: map-get($map: $stitulo, $key: b-g);
            color: map-get($map: $stitulo, $key: clr);
            font-size: map-get($map: $stitulo, $key: f-s);
            font-weight: map-get($map: $stitulo, $key: f-);
            margin-bottom: map-get($map: $stitulo, $key: m-b);
        }
        p.subText{
            @extend %subText
        }
        
    }
}