header{
    height: $h;
    nav.navbar{
        padding: 0;
        div.container-fluid{
            a.navbar-brand{
                display: flex;
                padding-top: 0.25rem;
                img.logo{
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                }
                h1.titulo{
                    padding-left: map-get($titulo, p-l)!important;
                    padding-top:  map-get($titulo, p-t)!important; 
                    padding-bottom:  map-get($titulo, p-b)!important;
                    margin-bottom:  map-get($titulo, m-b)!important;
                    color:  map-get($titulo, clr)!important;
                    font-weight: map-get($titulo, fwd)!important;
                    &:hover {
                        color: $clr-4!important;
                    }
                }
            }
            button.navbar-toggler{
                background-color: $clr-3!important;
            }
            div.offcanvas{
                background-color: rgb(248, 248, 248)!important;
                width: auto;
                justify-content: center;
                
                ul.listaDesosrdenada{
                    font-weight: $f-w;
                    justify-content: end;
                    a#paginas{
                        color: $clr-1!important;
                        padding-top: 15px!important;
                        padding-bottom: 15px!important;
                        &:hover{ 
                            color: $clr-2!important;
                        }
                    }
                }
            }
        }
    }
    #inicio{
        width: $w;
        height: 80vh;
        background: url("../img/1c.jpg") top center;
        background-size: cover;
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        &::before{
            background: rgba(0, 0, 0, 0.26);
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
        }
        div.animacionAos{
            position: relative;
            color: $clr-3;
            @media (max-width: 768px) {
                [data-aos-delay] {
                    transition-delay: 0 !important;
                }
            }
            h1.animacinH1{
                margin: 0;
                font-weight: 500;
                text-align: center;
            }
        }
    }
}