// secciones Index
section{
    display: $d-b;
    @extend %section;
    div.info{
        display: flex;
        flex-wrap: wrap;
        transition-duration: 1s;
        @media (min-width: 992px){
            .info {
            margin: 1.5rem;
            }
        }
        div.divImgPresentacion{
            opacity: 1;
            transform: none;
            transition-delay: .1s;
            @media (min-width: 1200px){
                .divImgPresentacion {
                order: 2!important;
                width: 50%;
                flex: 0 0 auto;
                }
            }
            @media (max-width: 1199px) {
                .divImgPresentacion {
                order: 1!important;
                width: 100%;
                opacity: 1;
                transform: none;
                transition-delay: 0.1s;
                }   
            }
            img.imgAnimada{
                vertical-align: middle;
                width: 100%;
                height: auto;
            }
        }
        
        div.divContenido{
            padding-top: 1rem!important;
            @media (min-width: 1200px){
                .divContenido {
                order: 1!important;
                width: 50%;
                flex: 0 0 auto;
                justify-content: $cr;   
                }
            }
            @media (max-width: 1199px) {
                .divContenido{
                order: 2!important;
                width: 100%;
                opacity: 1;
                transform: none;
                transition-delay: 0.1s;
                }
            }
        }
    }
}

section{
    display: $d-b;
    div.invitacion{
        text-align: $cr;
        h4{
            margin-top: 3px;
        }
        h2{
            font-weight: bold;
        }
    }  
    button.btn{
        justify-content: $cr;
        width: $w;
        a.btnAll{
            @extend %btnAll
        } 
    }
}
//  secciones Niveles
section{
    width: $w;
    div.textPhotos{
        width: $w;
        text-align: $cr;
        padding-bottom: 1rem;
    }
    div.filaImgs{
        @media (min-width: 576px){
            .filaImgs{
                flex: 0 0 auto;
                width: 50%;
            }
        }
        @media (min-width: 992px){
            .filaImgs{
                flex: 0 0 auto;
                width: 25%;
            }
        }
        img.imgs1{
            margin-bottom: $mb-img1;
            width: $w;
            border-radius: 0.5rem;
            transition: all 0.4s ease-in-out;
            &:hover{
                transform: rotateY(180deg);
            }
        }
        img.imgs{
            width: $w;
            border-radius: 0.5rem;
            transition: all 0.4s ease-in-out;
            &:hover{
                transform: rotateY(180deg);
            }
        }

    }    
}


